{% trans_default_domain 'admin' %}

{% macro render_crumb(crumb, route_type, title) %}
    <a href="{{ admin_path(crumb.entity, route_type) }}">{{ title | trans }}</a><span>&nbsp;></span>
{% endmacro %}

{% for crumb in crumbs %}
    {{ _self.render_crumb(
        crumb,
        constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX'),
        crumb.meta.baseTranslationPrefix ~ 'action.index.link'
    ) }}
    {% if not loop.last or render_last %}
        {{ _self.render_crumb(crumb, entity_route, crumb.entity) }}
    {% endif %}
{% endfor %}
