{% trans_default_domain 'admin' %}

<div class="path">
    {% for crumb in crumbs %}
        {% if crumb.url %}
            <a href="{{ crumb.url }}">{{ crumb.title | trans }}</a>
        {% else %}
            <span>{{ crumb.title | trans }}</span>
        {% endif %}
    {% endfor %}
</div>
