{% trans_default_domain 'admin' %}

{% for crumb in crumbs %}

    {% set url = crumb.url|default %}

    {% if url and url != app.request.requestUri %}
        <a href="{{ url }}">{{ crumb.title|trans }}</a>
    {% else %}
        <span>{{ crumb.title|trans }}</span>
    {% endif %}
{% endfor %}
