{% block content_wrap %}
    <div class="breadcrumbs">
        <a class="breadcrumbs__home" href="{{ path('darvin_admin_homepage') }}">
            {% trans %}homepage.index.link{% endtrans %}
        </a>

        {% block breadcrumbs %}<span>{{ block('heading') }}</span>{% endblock %}

    </div>
    <div class="page-header">
        <h1>{% block heading %}{% endblock %}</h1>
        <div class="page-header__btns">

            {% block header_buttons %}{% endblock %}

        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="page-footer">
        <div class="page-footer__btns">

            {% block footer_buttons %}{% endblock %}

        </div>
    </div>
{% endblock %}
