{% trans_default_domain 'admin' %}

<span class="logo__title">{% trans %}logo.title{% endtrans %}</span>
<span class="logo__version">{{ constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION') }}</span>
<span class="logo__note">{% trans %}logo.note{% endtrans %}</span>
