{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
    <div class="filter_element">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{%- endblock form_row -%}

{%- block widget_attributes -%}
    {% set attr = attr | merge({ 'class': (attr.class | default('') ~ ' ' ~ form.vars.block_prefixes[1]) | trim }) %}
    {{ parent() }}
{%- endblock widget_attributes -%}
