{% form_theme form 'DarvinAdminBundle:Crud/widget/filter:fields.html.twig' %}

{% trans_default_domain 'admin' %}

<div class="index_modul filter spoiler_container">
    <div class="index_modul_header">
        <div class="index_modul_header_content spoiler_links">
            <div class="spoiler_arrow"></div>
            <div class="index_modul_icon"></div>
            <div class="index_modul_name">
                <p class="tit">{% trans %}filter.title{% endtrans %}</p>
                <p>{% trans %}filter.description{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div class="index_modul_content spoiler_body"
         data-cookie="DARVINADMINFILTER"
         {% if not app.request.cookies.get('DARVINADMINFILTER') %}style="display: none;"{% endif %}>
        <div class="filter_table container-fluid">
            {{ form_start(form) }}
            <div class="clearfix">

                {% set index = 1 %}

                {% for field, attr in meta.configuration.form.filter.fields if form[field] is defined %}
                    {% if form[field] is defined %}
                        <div class="col-md-3">
                            {{ form_row(form[field]) }}
                        </div>
                        {% if 0 == index % 4 %}
                            </div><div class="clearfix">
                        {% endif %}
                    {% endif %}

                    {% set index = index + 1 %}

                {% endfor %}
            </div>
            <button type="submit">{% trans %}filter.submit{% endtrans %}</button>
            <a href="{{ form.vars.action }}">{% trans %}filter.reset{% endtrans %}</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
