{{ form_start(form, {'attr': {'class': 'js-form', 'data-reload-page': 1, 'autocomplete': 'off'}}) }}
<div class="custom-select js-chosen">
    {{ form_widget(form.itemsPerPage, {'attr': {'onchange': '$(this.form).submit();'}}) }}
</div>
{{ form_end(form) }}
