{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block heading %}{% trans with {'%query%': query} %}search.action.index.heading{% endtrans %}{% endblock %}

{% block content %}
    {% if query_too_short %}
        <h3 class="text-danger">
            {% transchoice query_min_length with {'%min_length%': query_min_length} %}
                search.action.index.query_too_short
            {% endtranschoice %}
        </h3>
    {% endif %}
    {% for entity_name in entity_names %}
        <div class="searchable"
             data-source="{{ path('darvin_admin_search_results', {'entityName': entity_name, 'query': query}) }}"
             style="display: none;">
            <h3 class="searchable_title">{{ ('entity_name.multiple.' ~ entity_name)|trans }}</h3>
            <div class="searchable_results"></div>
        </div>
    {% endfor %}
{% endblock %}
