{% form_theme form '@DarvinAdmin/fields.html.twig' %}

{% trans_default_domain 'admin' %}

{{ form_start(form, {'attr': {'class': 'js-form js-security-login'}}) }}
{{ form_widget(form) }}
<button type="submit">{% trans %}security.action.login.submit{% endtrans %}</button>
{{ form_end(form) }}
