{% extends '@DarvinAdmin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <div class="login-wrapper__container">
            <div class="login-wrapper__logo">
                {% if darvin_admin.logo %}
                    <img src="{{ asset(darvin_admin.logo) }}" alt="">
                {% else %}
                    <div class="logo">

                        {% include '@DarvinAdmin/logo.html.twig' %}

                    </div>
                {% endif %}
            </div>
            <div class="login-wrapper__form">
                <p class="login-wrapper__tilte">{% trans %}security.action.login.title{% endtrans %}</p>

                {% include '@DarvinAdmin/security/_login.html.twig' %}

                <div class="login-wrapper__links">
                    <a class="login-wrapper__link-auth"
                       href="{{ path('darvin_admin_security_darvin_auth_login', {'service': 'darvin_auth_admin'}) }}">
                        {% trans %}security.action.login.darvin_auth{% endtrans %}
                    </a>
{#                    <a class="login-wrapper__link-password" href="">Забыли пароль?</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
