{% extends '@DarvinAdmin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}

    {% include '@DarvinAdmin/locale_switcher.html.twig' %}

    {% include '@DarvinAdmin/security/_login.html.twig' %}

    <a href="{{ path('darvin_admin_security_darvin_auth_login', {'service': 'darvin_auth_admin'}) }}" class="darvin_auth">
        {% trans %}security.action.login.darvin_auth{% endtrans %}
    </a>
    <a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}" class="site_name">{{ darvin_admin.projectTitle }}</a>
    <p>
        {% trans with {'%number%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION')} %}
            security.action.login.version
        {% endtrans %}
    </p>
{% endblock %}
