{% extends '@DarvinAdmin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block breadcrumbs_wrap %}{% endblock %}

{% block heading %}{% trans %}homepage.index.title{% endtrans %}{% endblock %}

{% block content %}

    {% for row in rows %}

        {% if 1 == row|length %}
            {{ row|first|raw }}
        {% else %}
            <div class="blocks-grid">

                {% for widget in row %}
                    <div class="blocks-grid__item">{{ widget|raw }}</div>
                {% endfor %}

            </div>
        {% endif %}

    {% endfor %}

{% endblock %}
