{% trans_default_domain 'admin' %}

{{ form_start(form, {'attr': {'class': 'js-form', 'data-reload-page': 1}}) }}
{{ form_widget(form) }}
<button class="table-row__btn-clone" title="{{ (translation_prefix ~ 'action.copy.submit')|trans|e('html_attr') }}">&nbsp;</button>
{{ form_end(form) }}
