{% trans_default_domain 'admin' %}

{% set title   = (translation_prefix ~ 'action.edit.link')|trans %}
{% set classes = {
    'default': 'table-row__btn-edit',
    'show':    'modal-actions__btn-edit',
} %}

<a href="{{ admin_path(entity, entity_class, 'edit') }}"
   class="{{ classes[style]|default(classes.default) }}"
   title="{{ title|e('html_attr') }}">
    {{ title }}
</a>
