{% trans_default_domain 'admin' %}

{% set title = (translation_prefix ~ 'action.edit.link')|trans %}

<a href="{{ admin_path(entity, entity_class, 'edit') }}" class="table-row__btn-edit" title="{{ title|e('html_attr') }}">
    {{ title }}
</a>
