{% trans_default_domain 'admin' %}

<a href="{{ admin_path(entity, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_EDIT')) }}"
   class="edit_element edit"
   title="{{ (translation_prefix ~ 'action.edit.link') | trans }}">
    <img src="{{ asset('bundles/darvinadminfrontend/images/edit_element_edit.png') }}"
         alt="{{ (translation_prefix ~ 'action.edit.link') | trans }}" />
</a>