{% trans_default_domain 'admin' %}

{% set classes = {
    'default': 'edit_element edit',
    'toolbar': 'ds-toolbar__btn-edit',
} %}
{% set titles = {
    'default': translation_prefix ~ 'action.edit.link',
    'toolbar': 'toolbar.edit',
} %}

<a href="{{ admin_path(entity, entity_class, 'edit') }}" class="{{ classes[style]|default(classes.default) }}">
    <span>{{ titles[style]|default(titles.default)|trans }}</span>
</a>
