{% set url = vich_uploader_asset(image, 'file') %}

<div class="table-row__image js-photoswipe-gallery">
    <a href="{{ url }}" data-size="{{ image.dimensions }}">
        <img src="{{ url|imagine_filter('darvin_admin_thumb') }}" alt="">
    </a>
</div>
