<div class="table-row__image js-photoswipe-gallery">
    <a href="{{ image|image_original }}" data-size="{{ image.dimensions }}">
        <img src="{{ vich_uploader_asset(image, 'file')|imagine_filter('darvin_admin_thumb') }}" alt="">
    </a>
</div>
