{% trans_default_domain 'admin' %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button onclick="return confirm('{{ 'log.action.revert.confirm'|trans|e('js') }}');" type="submit">
    {% trans %}log.action.revert.submit{% endtrans %}
</button>
{{ form_end(form) }}
