{% trans_default_domain 'admin' %}

<table>
    {% for key, value in data %}
        <tr>
            <th>{{ key|trans }}</th>
            <td>{{ value|raw }}</td>
        </tr>
    {% endfor %}
</table>
