{% if widgets is not empty %}
    {% if first_item_only %}
        {{ widgets[0]|raw }}
    {% else %}
        <table>
            <tr>
                {% for widget in widgets %}
                    <td>{{ widget|raw }}</td>
                    {% if 0 == loop.index % line_size %}</tr><tr>{% endif %}
                {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endif %}
