{% trans_default_domain 'admin' %}

{% set url     = admin_path(entity, null, 'preview') %}
{% set classes = {
    'default': 'table-row__btn-preview',
    'footer':  'actions-popup__btn-preview',
    'header':  'actions-popup__btn-preview',
    'index':   'actions-popup__btn-show',
} %}

<a href="{{ url }}"
   target="_blank"
   class="js-ajax {{ classes[style]|default }}"
   data-type="iframe"
   title="{% block title %}{% trans %}view_widget.preview_link.title.default{% endtrans %}{% endblock %}">
    {{ block('title') }}
</a>
