{% trans_default_domain 'admin' %}

<a class="fancybox_ajax{% if not text_link %} edit_element show{% endif %}"
   href="{{ admin_path(entity, null, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_SHOW')) }}"
   title="{{ (translation_prefix ~ 'action.show.title') | trans({ '%entity%': entity }) }}">
    {% if text_link %}{{ entity }}{% endif %}
</a>
