{% trans_default_domain 'admin' %}

{% set title = (translation_prefix ~ 'action.show.title')|trans({'%entity%': entity|trans}) %}

<a href="{{ admin_path(entity, entity_class, 'show') }}"
   class="js-ajax{% if not text %} table-row__btn-show{% endif %}"
   title="{{ title|e('html_attr') }}">
    {{ text ? entity : title }}
</a>
