{% trans_default_domain 'admin' %}

{% set title = (translation_prefix ~ 'action.show.title')|trans({'%entity%': entity|trans}) %}

<a href="{{ admin_path(entity, entity_class, 'show') }}"
   title="{{ title }}"
   class="js-popup{% if not text %} edit_element show{% endif %}">
    {% if text %}
        {{ entity }}
    {% else %}
        <span>{{ title }}</span>
    {% endif %}
</a>
