<table>
    <tbody>
        {% for name, value in params %}
            <tr>
                <th>{{ name }}</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
