{% trans_default_domain 'admin' %}

<form action="{{ path('darvin_admin_search') }}" method="get" class="search_header">
    <input name="q"
           type="search"
           placeholder="{% trans %}search.form.placeholder{% endtrans %}"
           required="required"
           {% if 'darvin_admin_search' == app.request.get('_route') %}value="{{ app.request.query.get('q') }}"{% endif %}>
    <button type="submit">{% trans %}search.form.submit{% endtrans %}</button>
</form>
