<div class="js-form-container">
    {% embed '@DarvinAdmin/content.html.twig' %}

        {% trans_default_domain 'admin' %}

        {% set heading = (meta.baseTranslationPrefix ~ 'action.edit.title')|trans({'%entity%': entity|trans}) %}

        {% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity, heading) }}{% endblock %}

        {% block heading %}{{ heading }}{% endblock %}

        {% block header_buttons %}
            {% if entity %}
                {{ admin_widget('actions', entity, {'view_type': 'edit', 'style': 'header'}) }}
            {% endif %}
            <a class="page-header__btn-save-add" href="">Сохранить и добавить ещё</a>
            <a class="page-header__btn-save-edit" href="">Сохранить и редактировать</a>
            <a class="page-header__btn-save" href="">Сохранить изменения</a>
        {% endblock %}

        {% block content %}{% include '@DarvinAdmin/crud/_form.html.twig' with {'view_type': 'edit'} %}{% endblock %}

        {% block footer %}
            <div class="page-footer">
                <div class="page-footer__btns">
                    {% if entity %}
                        {{ admin_widget('actions', entity, {'view_type': 'edit', 'style': 'footer'}) }}
                    {% endif %}
                    <a class="page-footer__btn-save-add" href="">Сохранить и добавить ещё</a>
                    <a class="page-footer__btn-save-edit" href="">Сохранить и редактировать</a>
                    <a class="page-footer__btn-save" href="">Сохранить изменения</a>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
</div>
