{% set header_buttons = include('@DarvinAdmin/crud/_buttons.html.twig', {'view_type': 'edit', 'style': 'header'}) %}
{% set footer_buttons = include('@DarvinAdmin/crud/_buttons.html.twig', {'view_type': 'edit', 'style': 'footer'}) %}

<div class="js-form-container">
    {% embed '@DarvinAdmin/content.html.twig' %}

        {% trans_default_domain 'admin' %}

        {% set heading = (meta.baseTranslationPrefix ~ 'action.edit.title')|trans({'%entity%': entity|trans}) %}

        {% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity, heading) }}{% endblock %}

        {% block heading %}{{ heading }}{% endblock %}

        {% block header_buttons %}{{ header_buttons|raw }}{% endblock %}

        {% block content %}{% include '@DarvinAdmin/crud/_form.html.twig' with {'view_type': 'edit'} %}{% endblock %}

        {% block footer_buttons %}{{ footer_buttons|raw }}{% endblock %}

    {% endembed %}
</div>
