{% set content = include('@DarvinAdmin/crud/_form.html.twig', {'view_type': 'new'}) %}

<div class="js-form-container">
    {% if is_widget %}
        {{ content|raw }}
    {% else %}

        {% embed '@DarvinAdmin/content.html.twig' %}

            {% trans_default_domain 'admin' %}

            {% set heading = (meta.baseTranslationPrefix ~ 'action.new.title')|trans %}

            {% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity, heading) }}{% endblock %}

            {% block heading %}{{ heading }}{% endblock %}

            {% block content %}{{ content|raw }}{% endblock %}

        {% endembed %}

    {% endif %}
</div>
