{% trans_default_domain 'admin' %}

{% block widget_content %}

    {% block widget_title %}
        <div class="modal-title">{{ (meta.baseTranslationPrefix ~ 'action.show.title')|trans({'%entity%': entity|trans}) }}</div>
    {% endblock %}

    <div class="modal-actions">
        {{ admin_widget('actions', entity, {'view_type': 'show', 'style': 'header'}) }}
    </div>
    <div class="table-details">
        <table>
            {% for item in view.items %}
                <tr>
                    <th>{{ item.label|trans }}:</th>
                    <td>{{ item.content is same as(null) or item.content is same as('') ? '-' : item.content|trans|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
