{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity) }}{% endblock %}

{% block heading %}{{ (meta.baseTranslationPrefix ~ 'action.index.title')|trans }}{% endblock %}

{% block content %}
    {% if filter_form %}

        {% include 'DarvinAdminBundle:Crud/widget/filter:form.html.twig' with {
            'field_groups': meta.configuration.form.filter.field_groups,
            'form':         filter_form,
        } %}

    {% endif %}
    {% if new_form_widget %}
        <div class="index-new-form">
            <h3>{{ (meta.baseTranslationPrefix ~ 'action.new.title')|trans }}</h3>
            {{ new_form_widget|raw }}
        </div>
    {% endif %}

    {% include 'DarvinAdminBundle:Crud/widget:index.html.twig' %}

{% endblock %}
