{% extends 'DarvinAdminBundle:Crud/widget:form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block before_end %}
    {% for field, attr in meta.configuration.form.filter.fields %}
        {{ form_row(form[field]) }}
    {% endfor %}
    <button type="submit">{{ (meta.baseTranslationPrefix ~ 'action.filter.submit') | trans }}</button>
    <a href="{{ admin_path(meta.entityClass, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX')) }}">
        {{ (meta.baseTranslationPrefix ~ 'action.filter.reset') | trans }}
    </a>
{% endblock %}
