{% trans_default_domain 'admin' %}

{{ admin_widget_actions(entity, { 'view_type': 'show' }) }}

<div class="overlay_response">
    <table>
        <tbody>
            {% for item in view.items %}
                <tr>
                    <th>{{ item.label | trans }}:</th>
                    <td>{{ item.content ? item.content | trans | raw : '-' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
