{% trans_default_domain 'admin' %}

{{ admin_widget_actions(entity, { 'view_type': 'show' }) }}

<div class="overlay_response">
    {% for item in view.items %}
        <p>
            <span>{{ item.label | trans }}:</span>
            {{ item.content ? item.content | trans | raw : '-' }}
        </p>
    {% endfor %}
</div>
