{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% form_theme form 'DarvinAdminBundle:Form:fields.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">{% trans %}configuration.action.edit.submit{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}
